* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
a{
    text-decoration:none;
}
.header{
    border-bottom:1px solid;
}
.header div{
    display: inline-block;
    margin-top:24px;
    margin-bottom: 24px;
}
.logo{
    margin-right:802.63px;
    margin-left:80px;
    float:left;
}
.top-center div{
    color:#4558FF;
    margin-right:130px;
    font-size:17px;
    font-weight:bold;
}
#not{
    margin-right:0px;
}
.top-right{
    color:#9F9F9F;
    font-size:15px;
}
.login{
    margin-left:80px;
    margin-right:20px;
}
.join{
    margin-left:11px;
    margin-right:50px;
}

.video{
    width:1920px;
    height:1080px;
    border-bottom:1px solid;
}
.program, .book, .resource{
    width:1920px;
    height:758px;
    border-bottom:1px solid;
    font-size:0;
}
.left{
    display:inline-block;
    margin-left:450px;
    font-size:18px;
    margin-top:60px;
    color:#4558FF;
    font-weight:bold;
}
.pgim{
    position:absolute;
    margin-left:546.84px;
    margin-top: 162px;
    width:260px;
    height:267px;
}
.circle{
    position:absolute;
    margin-left:450px;
    margin-top: 81px;
    width:449px;
    height:449px;
    background-color: #ECEEFF;
    border-radius:50%;
}
.pro{
    position:absolute;
    margin-top:106px;
    margin-left:1191px;
    vertical-align:top;
}
.AIcontest{
    margin-right:448px;
    margin-top:169px;
    font-size:24px;
    text-align:right;
}
.exp1{
    margin-left:1040px;
    margin-top:178px;
    font-size:18px;
    margin-right:448px;
    text-align: right;
}
.apply img{
    margin-top:25px;
    margin-left:1213px;
    width:259px;
    height:61px;
}
.cor{
    margin-left:444px;
    text-align:left;
}
.footer{
    width:1950px;
    height:501px;
}
.line{
    height:221px;
    width:1810px;
    margin-left:55px;
    border-bottom: solid 1px;
}
.sns div{
    display:inline-flex;
    flex-direction: row;
    width:36.98px;
    margin-top:134px;
    margin-right:38px;
}
.department{
    font-size:15px;
    text-align:left;
    margin-left:63px;
}
.bottom-center img{
    position:absolute;
    margin-left:884px;
    margin-top:187.96px;
    width:166px;
    height:32px;
}